streamlit==1.3.0
dimod==0.9.15
pandas==1.1.5
numpy==1.18.5
dwave-neal==0.5.7
matplotlib==3.2.2
dwave-ocean-sdk==3.4.1
amplify==0.6.5
plotly==5.5.0
-e git://github.com/CanonMukai/hemsq-prototype.git@modify-opr#egg=hemsq
